h1 { 
	text-align: center;
	color: #004C54;
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 100px;
	text-shadow: 5px 5px #A5ACAF;
	margin-top: 0;
}

h2 {
	text-align: center;
	text-shadow: 3px 3px #A5ACAF;
}

h4 {
	text-align: center;
	text-shadow: 1.5px 1.5px #A5ACAF;
}

body {
	text-align: left;
	background: #1a1a1a;
	font-family: "Lucida Console", "Courier New", monospace;
	font-weight: 900;
	color: #004C54;
	text-shadow: 1.5px 1.5px #A5ACAF;
	width: 100%
	margin: auto;
	font-size: 24px;
}

ol li {
	list-style: none;
}

ul li {
	list-style: none;
}

button {
	border-radius: 18px;
	font-style: bold;
	border: none;
    padding: 0;
    cursor: pointer;
    background-color: #004C54;
}

.front {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5px 10px;
    border-radius: inherit;
    background: #A5ACAF;
    color: #004C54;
    font-weight: bolder;
    transform: translateY(-6px);
    text-shadow: 0.5px 0.5px white;
    font-size: 20px;
  }

  button:active .front {
    transform: translateY(-2px);
  }

.nav {
	text-align: center;
	justify-content: center;
	width: 100%;
	display: inline-flex;
	align-items: center;
	margin: auto;
}
.nav-tab {
	display: inline;
	margin: 15px;
}

.nav-item {
	margin: auto;
	width: 100%;
}

.nav-item p {
	display: inline;
}

.form {
	height: 75px;
	width: 400px;
	border-radius: 30px;
	outline: none;
	padding: 15px 30px;
	font-size: 24px;
	box-shadow: 7px 7px #004C54;
	border: solid 5px #A5ACAF;
}


.input {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 50%;
	padding: 5px 10px
}

.transaction td {
	vertical-align: top;
}

table tr:hover {
	cursor: pointer;
	outline: solid white;	
}

td {
	white-space: nowrap;
	padding-left: 0;
}

a {
	color: #A5ACAF;
	text-shadow: 1px 1px #004C54;
	text-decoration: none;	
}