<html>
    <head>
        <title>All Leaguemates</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body style="width: 100%">
         <nav><a href="{{url_for('index')}}" style="cursor: pointer; text-decoration: none;">Home</a></nav>
        <h1>{{  username  }}</h1>
        <img src="{{  avatar  }}" style="margin: auto; width: 25%; display: block; border-radius: 50%;">
        <h2>Leaguemates</h2>
        <form action="/leaguemates/<username>/all"; method="post">
        <table style="border-spacing: 15px; width: 50%; margin: auto; font-weight: 900; font-size: 24px;">
            {% for leaguemate in leaguematesDict|dictsort(false, 'value')|reverse %}
            <tr>
                {% if leaguemate[0] != username %}
                <td><img src="{{  avatarThumbs[leaguemate[0]]  }}" style="border-radius: 50%;"></td><td><p style="display: inline;">{{  leaguemate[0] }}</p></td><td style="display: table-cell; width: 1%; white-space: nowrap;">{{  leaguematesDict[leaguemate[0]]  }}</td>
                <td>
                <button 
                    class="submit" 
                    type="submit" 
                    name="submitUsername" 
                    value="{{  leaguemate[0]  }}"
                    >
                    <span class="front">view all leaguemates</span>
                </button>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </form>
    </body>
</html>