{% extends "base.html" %}

    {% block head %}
    {% endblock %}
    {% block content %}
        <h1>{{  leaguemateName + " and " + leaguemateName2  }}</h1>
        <h2>Common Leagues: {{  commonLeaguesCount  }}</h2>
        <table style="margin: auto; border-spacing: 15px; font-size: 24px; font-weight: 900;">
            {% for league in commonLeagues %}
            <form action="/leaguemates/<leaguemateName>/<leaguemateName2>" method="post">
                <tr>
                    <td>{{  league['name']  }}
                        <input type="hidden" name="submitLeagueID" value="{{  league['league_id']  }}">
                    </td>
                    <td>
                    <button 
                        class="submit" 
                        type="submit" 
                        name="submitLeaguemateName" 
                        value="{{  leaguemateName }}"
                        >
                        <span class="front">view {{  leaguemateName  }} roster</span>
                    </button>
                    </td>
                    <td>
                    <button 
                        class="submit" 
                        type="submit" 
                        name="submitLeaguemateName" 
                        value="{{  leaguemateName2  }}" 
                        >
                        <span class="front">view {{  leaguemateName2  }} roster</span>
                    </button>
                    </td>
                </tr>
            </form>
            {% endfor %}
        </table>
        </ol>
    {% endblock %}