{% extends "base.html" %}

    {% block head %}
        {{ super() }}
        {% block scripts %}
        {{ super() }}
        <script src="{{ url_for('static', filename='js/playerSearchResults.js') }}"></script>
        {% endblock %}
    {% endblock %}

    {% block body %}
        <h1>{{  username  }}</h1>
        <h2>{{  playerSearch  }}</h2>
        <h4>{{  leaguesCount  }} Shares</h4>
        <h4>{{  pwins  }}-{{  plosses  }}</h4>
        <div style="text-align: center; margin: auto;"><button class="submit" onclick="playerShares()"><span class="front">Toggle Leagues</span></button></div>
        <form action="/<username>/<playerSearch>">
        <table class="player-shares"style="display: table; font-size: 24px; font-weight: 900; margin: auto; width: 50%; border-spacing: 15px;">
        	{% for league in leaguesList.keys() %}
            <tr style="white-space: nowrap;">
                {% if leaguesList[league] == 'Available' %}
                    <td class="available">{{  league  }}:</td>  <td class="available">{{  leaguesList[league]  }}</td>
                {% elif leaguesList[league][0] == username %}
                    <td class="owned">{{  league  }}:</td>  <td class="owned">{{  leaguesList[league][0]  }} <em style="display: inline;">({{  leaguesList[league][1]  }})</em></td>
                {% else %}
               		<td class="not-available">{{  league  }}:</td>  <td class="not-available">{{  leaguesList[league][0]  }} <em style="display: inline;">({{  leaguesList[league][1]  }})</em></td>
                {% endif %}
            </tr>
            {%endfor%}
        </table>
    {% endblock %}
